@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

*, *:before, *:after, *:active, *:focus, *:hover {
  outline: none;
  outline-offset: 0;
}

:root {
  --primary: #161624;
  --white: #ffffff;
  --grey: #808080;
  --yellow: #ffff00;
  --green: #3dbd0a;
}

html {
  font-size: 14px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
}

img {
  width: 100%;
  max-width: 100%
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

section {
  padding: 25px 0;
}

.container {
  width: 85%;
  max-width: 1170px;
  margin: 0 auto;
}

.home__input--block {
  margin-top: 60px;
}

.home__result {
  margin-top: 20px;
}

.home__button--server {
  margin-left: 20px;
  cursor: pointer;
}

.home__input {
  padding: 5px 6px;
  border: 1px solid var(--primary);
  transition: .2s all;
  -webkit-transition: .2s all;
  -moz-transition: .2s all;
  -ms-transition: .2s all;
  -o-transition: .2s all;
}

.home__input:hover {
  background-color: var(--grey);
  color: var(--white);
}

.home__input:hover::placeholder {
  color: var(--white);
}

.home__input:focus {
  background-color: var(--yellow);
  color: var(--primary);
}

.home__input:focus::placeholder {
  color: var(--primary);
}

.home__result {
  font-size: 16px;
  font-weight: 500;
  color: var(--green);
}